<launch>
  <arg name="uav_name" default="" />
  
  <include file="$(find mavros)/launch/px4.launch">
  </include>

  <include file="$(find safe_valley_exp)/launch/safe_flock_real.launch">
    <arg name="uav_name" value="$(arg uav_name)"/>
    <arg name="safe_flock_exec" value="wait_mavros.py"/>
  </include>
</launch>
